.stn-details {
  margin-top: 5rem;
  padding-bottom: 12rem;
}
.stn-details img {
  width: 50%;
  margin-bottom: 4.8rem;
}
.details-title {
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 3rem;
}
.details-title h1 {
  font-size: 2.4rem;
}
.date {
  font-size: 1.6rem;
}
.desc {
  font-size: 1.6rem;
  font-family: "Roboto-Regular";
  margin-bottom: 2.4rem;
}
.author {
  font-size: 1.2rem;
}
.stn-details article {
  width: 50%;
}
