.card {
  width: 28rem;
}
.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 2.4rem;
}
.card-title {
  font-size: 1.6rem;
  padding-left: 0.8rem;
  margin-bottom: 1.6rem;
  /* font-family: "Roboto-Black"; */
}
